@model Rapid_e4473.Models._12_Alien_Status
@{
    ViewBag.Title = "Alien Status";
}

<h2>Alien Status</h2>

@using (Html.BeginForm("_12_Alien_Status", "e4473", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <p>
            If you are an alien admitted to the United States under a nonimmigrant visa, do you fall within any of the exceptions set forth in the instructions? (If "yes," the licensee must complete question 20c.) (See Instructions for Question 12.) 
        </p>
        <p>
            <div class="flip">
                <span>Additional Instructions</span>
            </div>
        </p>
        <div class="form-group">
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.ALIEN, "Y", new { htmlAttributes = new { @class = "form-control" } }) Yes
                <br />
                @Html.RadioButtonFor(model => model.ALIEN, "N", new { htmlAttributes = new { @class = "form-control" } }) No
                <br />
                @Html.ValidationMessageFor(model => model.ALIEN, "", new { @checked = false, @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="BtnPrevious" value="Previous" class="btn btn-default" />
                <input type="submit" name="BtnNext" value="Next" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="panel">
                    <p>
                        <b>Exceptions to the Nonimmigrant Alien Response:</b>
                    </p>
                    <p>
                        An alien admitted to the United States under a nonimmigrant visa is not prohibited from purchasing, receiving, or possessing a firearm if the alien:
                        <br />
                        (1) is in possession of a hunting license or permit lawfully issued by the Federal Government, a State, or local government, or an Indian tribe federally recognized by the Bureau of Indian Affairs, which is valid and unexpired;
                        <br />
                        (2) was admitted to the United States for lawful hunting or sporting purposes;
                        <br />
                        (3) has received a waiver from the prohibition from the Attorney General of the United States;
                        <br />
                        (4) is an official representative of a foreign government who is accredited to the United States Government or the Government’s mission to an international organization having its headquarters in the United States;
                        <br />
                        (5) is en route to or from another country to which that alien is accredited;
                        <br />
                        (6) is an official of a foreign government or a distinguished foreign visitor who has been so designated by the Department of State; or
                        <br />
                        (7) is a foreign law enforcement officer of a friendly foreign government entering the United States on official law enforcement business.
                    </p>
                    <p>
                        Persons subject to one of these exceptions should answer “yes” to questions 11.l. and 12 and provide documentation such as a copy of the hunting license or letter granting the waiver, which must be recorded in 20.c. If the transferee (buyer) answered “yes” to this question, the licensee must complete 20.c.
                    </p>
                    <p>
                        The seller should verify supporting documentation provided by the purchaser and must attach a copy of the provided documentation to this ATF Form 4473, Firearms Transaction Record.
                    </p>
                </div>
            </div>
        </div>
        <ol class="progtrckr" data-progtrckr-steps="4">
            <li class="progtrckr-done">Personal</li>
            <!--
        -->
            <li class="progtrckr-done">Details</li>
            <!--
        -->
            <li class="progtrckr-done">Eligible</li>
            <!--
        -->
            <li class="progtrckr-todo">Residence</li>
        </ol>
        <br />
        <div class="progress progress-striped active" style="max-width:98%">
            <div class="progress-bar" role="progressbar"
                 aria-valuenow="86" aria-valuemin=" 0" aria-valuemax="100" style="min-width:1px;width:86%">
            </div>
        </div>
    </div>
}