@model RapidInventory2015.Models.VarianceCRUD

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VarianceCRUD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_1_UPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_1_UPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_2_UPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_2_UPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_3_UPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_3_UPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRID_FRZ_QTY_ON_HND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRID_FRZ_QTY_ON_HND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNT_QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNT_QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRID_CNT_QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRID_CNT_QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRZ_QTY_ON_HND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRZ_QTY_ON_HND)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
