@model RapidInventory2015.Models.VarianceCRUD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VarianceCRUD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_1_UPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_1_UPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_2_UPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_2_UPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_3_UPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_3_UPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRID_FRZ_QTY_ON_HND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRID_FRZ_QTY_ON_HND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNT_QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNT_QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRID_CNT_QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRID_CNT_QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRZ_QTY_ON_HND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRZ_QTY_ON_HND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
